/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}



nav {
    display: flex;
    flex-direction: row;
    background: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 15px;
}

.nav__links ul li a {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.nav__links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 100%;
    margin-top: 25px;
    padding-left: 10px;


}

.logo img {
    width: 70px;
    height: 70px;
    margin-top: 7px;
    padding-left: 50px;
}

.pangier svg {
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 25px;
    margin-left: 700px;
    align-items: center;
    fill: rgb(255, 255, 255);

}

/* .pangier {
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 25px;
    margin-left: 700px;
    align-items: center;
    
} */

ul li a {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.explore_right {
    display: flex;
    align-items: center;

}

.explore_right a {
    margin-left: 10px;
    text-decoration: none;
    color: #B4C800;
}

.container .right_content {

    padding-top: 100px;
}

.p_styling {
    font-size: 20px;
}

.more {
    margin-top: 5px;
    height: 15px;
    width: 15px;
    padding-left: 5px;
    fill: #B4C800;

}

.right_content .paragraph .p_bold {
    font-size: 35px;
    /* font-weight: bolde; */

}

.right_content .paragraph .p_light {
    color: #F2CBAE;
}

.paragraph {
    color: #D66B1B;

}

body {
    background: #000000;
    overflow-x: hidden;
}

.left_content img {
    height: 500px;
}



#title {
    color: #F2CBAE;
    margin-bottom: 45px;
    margin-left: 100px;
}


.picture img {
    width: 60%;
    height: 60%;

    border-radius: 20px;
}


#sushi_name {
    margin-left: 70px;
    font-weight: 600;
    color: #F2CBAE;
}

#sushi_price {
    margin-left: 70px;
    font-weight: bolder;
    color: #B4C800;
}

.food_pictures {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    align-items: center;

}

.favourite_food {
    margin-bottom: 50px;
}

.newsletter {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 120px;
}

.newsletter p {
    text-align: center;
    margin-bottom: 20px;
    color: #F2CBAE;
}

.newsletter .input {
    width: 570px;
    padding: 0.7rem 0rem;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #ffff;

}

.newsletter button {
    color: #F2CBAE;
    font-weight: 900;
    padding: 0.5rem 2rem;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #D66B1B;
    cursor: pointer;
}

.newsletter .input::placeholder {
    color: #9F9F9F;
    font-size: 16px;
    padding-left: 20px;
}

.footer_logo {
    margin-left: 20px;
}

.footer_logo img {
    width: 70px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer_logo p {
    color: aliceblue;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.footer_icons {
    fill: rgb(255, 255, 255);
    width: 20px;
}

.footer {
    background: #000000;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    color: aliceblue;
}

.main_menu {
    display: flex;
    flex-direction: column;
}

.main_menu a {
    text-decoration: none;
    padding: 15px 0 10px;
    font-size: 15px;
    font-weight: 700;
    color: #F2CBAE;

}

h4 {
    padding-bottom: 40px;
}

.information {
    display: flex;
    flex-direction: column;
}

.information a {
    text-decoration: none;
    padding: 15px 0 10px;
    font-size: 15px;
    font-weight: 700;
    color: #F2CBAE;
}

.address {
    display: flex;
    flex-direction: column;
}

#timing {
    color: #D66B1B;
}

.address p {
    text-decoration: none;
    padding: 0 0 10px;
    font-size: 15px;
    font-weight: 700;
    color: #F2CBAE;
}


.selected-button li:after,
.selected-button li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.selected-button li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.selected-button li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.selected-button li:hover::before,
.selected-button li:hover::after {
  width: 10px;
  height: 10px;
  border-color: #fff;
}





/*________ABOUT DESIGN________*/

.about_section1{
    display: flex;
    flex-direction: row;
}

.about_section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.left_about_section{
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 40px;
    font-size: 15px;
    color: #fff;
    margin-right: 100px;
}
#para{
    margin-bottom: 20px;
}
hr{
    margin-bottom: 40px;
    width: 70px;
    height: 4px;
    background-color: #D66B1B;
    border: none;
    
}
#about_title{
    padding-bottom: 19px;
    font-size: 40px;
    
    
}

.right_about_section img{
    width: 373px;
    padding-right: 60px;
}

#line{
    color: #fff;
}

#about_2title{
    padding-bottom: 19px;
    font-size: 40px;
    color: #D66B1B;
}


.about_2title{
    margin-bottom: 160px;
}


.sec_left_about_section img{
    width: 350px;
    margin-left: 50px;
}

.last-paragraph{
margin-bottom: 0;
text-align: center;
}

/* .menu1{
    position: relative;
}



.menu1 li:after,
.menu1 li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}


.menu1 li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu1 li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu1 li:hover::before,
.menu1 li:hover::after {
  width: 10px;
  height: 10px;
  border-color: #fff;
} */
